@charset "ISO-8859-1";
body{
	font-family: "Arial Rounded MT Bold", Times, serif;
	color: white;
	font-weight: bold;
}

h3{
	font-style: bold;
	color: white;
}

a{
	color: white;
}

#bar{
	background-color: rgba(35,35,35,1);
}

h1{
	color: orange;
}



